/* Styles for Body */
body {
    background-color: rgb(40, 40, 40);
    color: rgb(233, 229, 215);
    text-align: center;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* Styles for numbers divs in the game area */
.numbers-game-div {
    max-width: 660px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
}

.number-div {
    min-width: 17%;
    padding: 10px 5px;
    margin: 5px;
}

/* Styles for start and reset buttons */
.button-span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 16%;
    padding: 10px 5px;
}